body {
            background-image:url("BACKGROUND_IMAGE_DATBOI.png");
            color:orange;
}

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

.link {
            font-size: 20px;
            text-align:center;
}
